{% extends "login-layout.html" %} {% block title %}Chat Bot{% endblock %} {%
block page %}HMA{% endblock %} {{ super() }} {% block content %}
<v-sheet
  class="cointaner"
  color="transparent"
  class="d-flex flex-column mt-15 justify center"
  width="100%"
  height="100%"
>
  <p class="text-h3">Health Chatbot</p>
  <label for="chatbot" class="text-subtitle-2"
    >Ask the Open AI Api any chat related questions via our platform</label
  >
  <form method="POST" action="/chatbot">
    <input type="hidden" name="conversation_id" value="{{ conversation_id }}" />
    <input
      type="hidden"
      name="conversation_history"
      value="{{ conversation_history }}"
    />
    <div class="mt-15">
      <v-card class="mb-5 mx-auto" rounded="pill" variant="tonal"
        ><p class="text-h6">{{ conversation_history }}</p></v-card
      >
      <v-sheet class="d-flex mx-auto" color="transparent" width="70%">
        <v-text-field
          name="user_input"
          id="user_input"
          placeholder="Start a Conversation"
          type="input"
          density="compact"
          variant="outlined"
          class="pr-2"
        ></v-text-field>
        <v-btn
          class="btn"
          icon="mdi-send"
          color="transparent"
          type="submit"
          variant="flat"
        ></v-btn>
      </v-sheet>
    </div>
  </form>
  <form method="POST" action="/end_conversation">
    <v-btn
      type="submit"
      prepend-icon="mdi-trash-can"
      variant="tonal"
      color="red"
    >
      End Conversation</v-btn
    >
  </form>
</v-sheet>
{% endblock %}
