{% extends "layout.html" %} {% block title %}Health Misinformation{% endblock %}
{% block page %}HMA{% endblock %} {{ super() }} {% block content %}
<style></style>
<v-sheet class="cointaner" color="transparent" class="mt-5">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <v-sheet class="text-left justify-left" color="transparent">
    {% for category, message in messages %}
    <v-list id="flashes" color="red" style="background: none">
      <v-list-item
        v-if="{{loop.index}} == 1"
        class="text-h3"
        style="color: white"
        >{{ message }}</v-list-item
      >
      <v-list-item
        v-if="{{loop.index}} == 2"
        color="white"
        style="color: #b6b6b6"
        class="text-h6"
        >{{ message }}</v-list-item
      >
    </v-list>
    {% endfor %}
  </v-sheet>
  {% endif %} {% endwith %}

  <!-- If no article was submitted Display -->
  {% if not news %} {% else %}
  <!-- Display Articles if claim was submitted-->
  {% for article in news %}
  <v-card
    class="text-left my-5"
    variant="tonal"
    flat
    width="block"
    title="{{article.title}}"
    subtitle="{{article.source.name}}"
    text="{{article.description}}"
  >
    <v-card-actions>
      <v-btn variant="text" href="{{article.url}}"> Learn More </v-btn>
    </v-card-actions></v-card
  >
  {% endfor %} {% endif %}
  <!--Display no similar claims-->
  {% if not similar_claims %} {% else %}
  <!-- Display Similar claims-->
  <h3>Users also searched for</h3>
  {% for claim in similar_claims %}
  <v-sheet color="transparent" class="text-left">
    <div class="text=h6">{{claim.text}}</div>
    <div>{{claim.claimant}}</div>
  </v-sheet>
  {% for claim in claim.claimReview %}
  <v-card
    class="text-left my-5"
    flat
    variant="tonal"
    width="block"
    title="{{claim.publisher.name}}"
    subtitle="{{claim.textualRating}}"
  >
    <v-card-actions>
      <v-btn variant="text" href="{{claim.url}}"> Learn More </v-btn>
    </v-card-actions></v-card
  >
  {% endfor %} {% endfor %} {% endif %}

  <!-- FORM -->
  <form class="col s12 m8 offset-m2" method="POST" action="/checkclaim">
    {{ form.csrf_token }}
    <!-- Text Field -->
    <div class="input-field col s12 m8 offset-m2">
      {{ form.textarea(size=20, class="validate") }} {{ form.textarea.label }}
    </div>
    <div class="input-field col s12 m8 offset-m2">{{form.submit}}</div>
  </form>
</v-sheet>
{% endblock %}
