{% extends "layout.html" %} {% block title %}Health Misinformation{% endblock %}
{% block page %}HMA{% endblock %} {{ super() }} {% block content %}
<style>
  .validate > {
    display: none;
  }

  label {
    display: none;
  }
</style>
<v-sheet class="cointaner" color="transparent" class="mt-5">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <v-sheet class="text-left justify-left" color="transparent">
    {% for category, message in messages %}
    <v-list id="flashes" color="red" style="background: none">
      <v-list-item
        v-if="{{loop.index}} == 1"
        class="text-h3"
        style="color: white"
        >{{ message }}</v-list-item
      >
      <v-list-item
        v-if="{{loop.index}} == 2"
        color="white"
        style="color: #b6b6b6"
        class="text-h6"
        >{{ message }}</v-list-item
      >
    </v-list>
    {% endfor %}
  </v-sheet>
  {% endif %} {% endwith %}

  <!-- If no article was submitted Display -->
  {% if not news %} {% else %}
  <!-- Display Articles if claim was submitted-->
  <v-window v-model="window" show-arrows continuous>
    {% for article in news %}
    <v-window-item v-for="(n, index)" :key="index">
      <v-card flat class="d=flex justify-center" color="transparent">
        <v-card
          width="85%"
          height="200px"
          class="text-left my-5 mx-auto"
          variant="tonal"
          flat
          width="block"
          title="{{article.title}}"
          subtitle="{{article.source.name}}"
          text="{{article.description}}"
        >
          <v-card-actions>
            <v-btn variant="text" href="{{article.url}}"> Learn More </v-btn>
          </v-card-actions></v-card
        >
      </v-card>
    </v-window-item>
    {% endfor %} {% endif %}
  </v-window>
  <!--Display no similar claims-->
  {% if not similar_claims %} {% else %}
  <!-- Display Similar claims-->
  <h3 class="text-left">Users also searched for</h3>
  <v-window v-model="window2" show-arrows continuous>
    {% for claim in similar_claims %}
    <v-window-item v-for="(n, index)" :key="index">
      <v-card color="transparent" width="85%" class="mx-auto">
        <v-sheet color="transparent" class="text-left">
          <div class="text=h6">{{claim.text}}</div>
          <div>{{claim.claimant}}</div>
        </v-sheet>
        {% for claim in claim.claimReview %}
        <v-card
          class="text-left my-5"
          flat
          variant="tonal"
          width="block"
          title="{{claim.publisher.name}}"
          subtitle="{{claim.textualRating}}"
        >
          <v-card-actions>
            <v-btn variant="text" href="{{claim.url}}"> Learn More </v-btn>
          </v-card-actions></v-card
        >
      </v-card>
    </v-window-item>
    {% endfor %} {% endfor %} {% endif %}
  </v-window>
  <!-- FORM -->
  <form class="col s12 m8 offset-m2" method="POST" action="/checkclaim">
    {{ form.csrf_token }}
    <!-- Text Field -->
    <div class="">
      {{ form.textarea(size=30, class="validate", style="color:white") }} {{
      form.textarea.label }}
    </div>
    <div class="input-field col s12 m8 offset-m2">{{form.submit}}</div>
  </form>
</v-sheet>
{% endblock %}
