{% extends "login-layout.html" %} {% block title %}Health Misinformation{%
endblock %} {% block page %}HMA{% endblock %} {{ super() }} {% block content %}
<v-sheet
  class="cointaner"
  color="transparent"
  class="d-flex flex-column mt-10"
  width="100%"
  height="100%"
>
  <p class="text-h3">Approval Ratings</p>
  <p class="text-subtitle-3 text-grey">See what our doctors agree with</p>

  {% for each in details.articles %}
  <v-card width="100%" class="mx-auto text-left pb-3 my-5" variant="tonal">
    {% set title = str(each.title) %} {% set id = get_article_id(title) %}
    <template v-slot:title>
      <div class="d-flex flex-column">
        <v-sheet class="mb-5 d-flex justify-center" flat color="transparent">
          <img src="{{ each.img }}" alt="no image" style="z-index: 1" />
        </v-sheet>
        <p class="text-h4">{{ each.title }}</p>
      </div>
    </template>

    <template v-slot:subtitle>
      Author(s): {{ each.author }} Publish date: {{ each.publish }}</template
    >

    <template v-slot:text> {{ each.content }} </template>

    <v-card-actions class="d-flex my-auto align-end">
      <v-btn variant="tonal" class="mx-2" href="{{ each.url }}" target="_blank">
        visit page
      </v-btn>
    </v-card-actions>

    <div class="text-center">
      <v-chip prepend-icon="mdi-thumb-up" size="x-large" color="blue"
        >{{ calculate_rating(id) }}%</v-chip
      >
    </div>
  </v-card>
  {% endfor %}
</v-sheet>
{% endblock %}
