{% extends "login-layout.html" %}
{% block title %}feed page{% endblock %}
{% block page %}HMA{% endblock %}

{{ super() }}

{% block content %}
    
<h1>Doctor Feed</h1>

<form action="/feed" method="post">
    <input type="text" name="keyword" placeholder="article keywords">
    <input type="submit" value="Search Articles">
</form>

<a href="rankedfeed">View all ranked articles</a>

{% for eachArticle in articles %}
    <p>{{ eachArticle.title }}</p>
    <a href='{{eachArticle.url}}'>Read More</a>
    <div>
    <p>
    <a href="/like/{{ eachArticle.id }}">Approve</a><a href="/dislike/{{ eachArticle.id }}">Disapprove</a>
</p>
</div>
    <hr>
{% endfor %}

{% endblock %}