{% extends "login-layout.html" %} {% block title %}feed page{% endblock %} {%
block page %}HMA{% endblock %} {{ super() }} {% block content %}
<v-sheet
  class="cointaner"
  color="transparent"
  class="d-flex flex-column mt-10"
  width="100%"
  height="100%"
>
  <p class="text-h3">Ranked Articles</p>
  {% if articles or results %}
  <p class="mt-2">
    Filter by:
    <v-chip class="mx-2"><a href="/rankedfeed/{{1}}">Approved</a></v-chip>
    <v-chip><a href="/rankedfeed/{{0}}">Disapproved</a></v-chip>
    <v-chip><a href="/rankedfeed">All</a></v-chip>
  </p>
  {% else %} {% endif %} {% if not results %} {% for eachArticle in articles %}
  <v-card width="100%" class="mx-auto text-left pb-3 my-5" variant="tonal">
    <template v-slot:title>
      <div class="d-flex flex-column">
        <v-sheet class="mb-5 d-flex justify-center" flat color="transparent">
          <img src="{{ eachArticle.img }}" alt="no image" style="z-index: 1" />
        </v-sheet>
        <p class="text-h4">{{ eachArticle.title }}</p>
      </div>
    </template>

    <template v-slot:subtitle>
      Author(s): {{ eachArticle.author }} Publish date: {{ eachArticle.publish
      }}</template
    >

    <template v-slot:text> {{ eachArticle.content }} </template>

    <v-card-actions class="d-flex my-auto align-end">
      <v-btn
        variant="tonal"
        color="green"
        icon="mdi-thumb-up"
        class="mx-2"
        href="/rankedfeed/approved/{{ eachArticle.id }}"
      >
      </v-btn>
      <v-btn
        variant="tonal"
        color="red"
        icon="mdi-thumb-down"
        class="mx-2"
        href="/rankedfeed/disapproved/{{ eachArticle.id }}"
      >
      </v-btn>
      <v-btn
        variant="tonal"
        class="mx-2"
        href="{{ eachArticle.url }}"
        target="_blank"
      >
        Read More
      </v-btn>
    </v-card-actions>
  </v-card>
  {% endfor %} {% else %} {% for eachArticle in results %}
  <v-card width="100%" class="mx-auto text-left pb-3 my-5" variant="tonal">
    <template v-slot:title>
      <div class="d-flex flex-column">
        <v-sheet class="mb-5 d-flex justify-center" flat color="transparent">
          <img src="{{ eachArticle.img }}" alt="no image" style="z-index: 1" />
        </v-sheet>
        <p class="text-h4">{{ eachArticle.title }}</p>
      </div>
    </template>

    <template v-slot:subtitle>
      Author(s): {{ eachArticle.author }} Publish date: {{ eachArticle.publish
      }}</template
    >

    <template v-slot:text> {{ eachArticle.content }} </template>

    <v-card-actions class="d-flex my-auto align-end">
      <v-btn
        variant="tonal"
        color="green"
        icon="mdi-thumb-up"
        class="mx-2"
        href="/rankedfeed/approved/{{ eachArticle.id }}"
      >
      </v-btn>
      <v-btn
        variant="tonal"
        color="red"
        icon="mdi-thumb-down"
        class="mx-2"
        href="/rankedfeed/disapproved/{{ eachArticle.id }}"
      >
      </v-btn>
      <v-btn
        variant="tonal"
        class="mx-2"
        href="{{ eachArticle.url }}"
        target="_blank"
      >
        Read More
      </v-btn>
    </v-card-actions>
  </v-card>
  {% endfor %} {% endif %}
</v-sheet>
{% endblock %}
