{% extends "login-layout.html" %} {% block title %}feed page{% endblock %} {%
block page %}HMA{% endblock %} {{ super() }} {% block content %}
<v-sheet
  class="cointaner"
  color="transparent"
  class="d-flex flex-column mt-10"
  width="100%"
  height="100%"
>
  <h1>Doctor Feed</h1>
  <form action="/feed" method="post">
    <v-text-field
      name="keyword"
      id="user_input"
      type="input"
      density="compact"
      variant="outlined"
      class="pr-2"
      placeholder="article keywords"
    ></v-text-field>
    <v-btn variant="tonal" class="mb-5" type="submit" value="Search Articles">
      Search Articles
    </v-btn>
  </form>
  <p>
    View Ranked Articles: <a href="/rankedfeed">View all ranked articles</a>
  </p>
  {% for eachArticle in articles %}
  <v-card
    width="100%"
    height="430"
    class="mx-auto text-left pb-3 my-5"
    variant="tonal"
  >
    <template v-slot:title>
      <div class="d-flex flex-column">
        <img
          src="{{ eachArticle.img }}"
          alt="no image"
          width="200"
          height="200"
        />

        <p class="text-h4">{{ eachArticle.title }}</p>
      </div>
    </template>

    <template v-slot:subtitle>
      Author(s): {{ eachArticle.author }} Publish date: {{ eachArticle.publish
      }}</template
    >

    <template v-slot:text> {{ eachArticle.content }} </template>

    <v-card-actions class="d-flex my-auto align-end">
      <v-btn variant="tonal" class="mx-2" href="{{ eachArticle.url }}">
        Read More
      </v-btn>
      <v-btn variant="tonal" class="mx-2" href="/like/{{ eachArticle.id }}">
        Approve
      </v-btn>
      <v-btn variant="tonal" class="mx-2" href="/dislike/{{ eachArticle.id }}">
        Disapprove
      </v-btn>
    </v-card-actions>
  </v-card>
  {% endfor %}
</v-sheet>
{% endblock %}
