{% extends "login-layout.html" %} {% block title %}feed page{% endblock %} {%
block page %}HMA{% endblock %} {{ super() }} {% block content %}
<v-sheet
  class="cointaner"
  color="transparent"
  class="d-flex flex-column mt-10"
  width="100%"
  height="100%"
>
  <p class="text-h3">Doctor Feed</p>
  <form action="/feed" method="post">
    <v-sheet flat color="transparent" class="d-flex flex-row mx-auto justify-center"> 
    <v-text-field
      name="keyword"
      id="user_input"
      type="input"
      density="compact"
      variant="outlined"
      class="pr-2 mt-2"
      placeholder="article keywords"
    ></v-text-field>
    <v-btn variant="flat" 
    class="mb-5 mr-5 mt-2" 
    type="submit" 
    value="Search Articles" 
    icon="mdi-send"
    color="transparent"
    >
    </v-btn>
  </v-sheet>
     <v-btn href="/rankedfeed"  variant="tonal" value="View Ranked Articles">View all ranked articles</a>
  </form>

  {% for eachArticle in articles %}
  <v-card
    width="100%"
    class="mx-auto text-left pb-3 my-5"
    variant="tonal"
  >
    <template v-slot:title>
      <div class="d-flex flex-column">
        <v-sheet class="mb-5 d-flex justify-center" flat color="transparent">
        <img
          src="{{ eachArticle.img }}"
          alt="no image"
          style="z-index:1"
        />
        </v-sheet>
        <p class="text-h4">{{ eachArticle.title }}</p>
      </div>
    </template>

    <template v-slot:subtitle>
      Author(s): {{ eachArticle.author }} Publish date: {{ eachArticle.publish
      }}</template
    >

    <template v-slot:text> {{ eachArticle.content }} </template>

    <v-card-actions class="d-flex my-auto align-end">
      <v-btn variant="tonal" color="green" icon="mdi-thumb-up" class="mx-2" href="/like/{{ eachArticle.id }}">
      </v-btn>
      <v-btn variant="tonal" color="red" icon="mdi-thumb-down" class="mx-2" href="/dislike/{{ eachArticle.id }}">
      </v-btn>
      <v-btn variant="tonal" class="mx-2" href="{{ eachArticle.url }}" target="_blank">
        Read More
      </v-btn>
    </v-card-actions>
  </v-card>
  {% endfor %}
</v-sheet>
{% endblock %}
