{% extends "login-layout.html" %} {% block title %}profile page{% endblock %} {%
block page %}HMA{% endblock %} {{ super() }} {% block content %}
<v-sheet
  class="cointaner"
  color="transparent"
  class="d-flex flex-column mt-15 justify center"
  width="100%"
  height="100%"
>
  <p class="text-h3">Contribute to the Dataset</p>
  <label for="contribution" class="text-subtitle-2 mt-5 mb-5"
    >Add an article you cosign and give it a rating</label
  >
  <form method="post" action="/feedback">
    <v-textarea
      v-model="article_title"
      :rules="[rules.required]"
      auto-grow
      rows="4"
      id="statement"
      name="statement"
      label="Please enter a Health/Medical Article Title"
      variant="outlined"
      type="text"
    ></v-textarea>
    <v-textarea
      v-model="article_descr"
      :rules="[rules.required]"
      auto-grow
      rows="4"
      id="description"
      name="description"
      label="Description"
      variant="outlined"
      type="text"
    ></v-textarea>
    <div class="text-left">
      <p>Rating:</p>
      <v-chip-group v-model="article_rating">
        <v-chip id="rating-true" name="rating" value="1">True</v-chip>
        <v-chip id="rating-false" name="rating" value="0">False</v-chip>
      </v-chip-group>
    </div>

    <!-- Confirmation Page -->
    <v-row justify="center">
      <v-dialog
        v-model="confirm"
        fullscreen
        :scrim="false"
        transition="dialog-bottom-transition"
      >
        <template v-slot:activator="{ props }">
          <v-btn v-if="confirmed == false" variant="tonal" v-bind="props">
            Review
          </v-btn>
        </template>
        <v-card :style="theme_background">
          <!--Tool bar to the top of the fullscreen menu -->
          <v-toolbar dark color="#191A1D">
            <v-toolbar-title :style="theme_respStyle">Review</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn @click="confirmReview" class="mx-5" color="white">
                Save
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <!-- end of toolbar -->
          <v-sheet color="transparent" flat class="pa-10">
            <p class="text-h4" :style="theme_respStyle">
              Contribution Confirmation
            </p>
            <p class="text-subtitle-3" :style="theme_respStyle">
              please ensure this is what you want to submit
            </p>
            <!--Article-->
            <div class="mt-5 px-15" style="background: none">
              <v-card
                :style="theme_respStyle"
                variant="text"
                :title="article_title"
                class="text-h2"
              ></v-card>
              <v-banner
                :style="theme_respStyle"
                style="background: none !important"
                :text="article_descr"
              ></v-banner>
            </div>
            <!-- Show what has been written-->
          </v-sheet>
        </v-card>
      </v-dialog>
    </v-row>

    <v-btn v-if="confirmed == true" variant="tonal" type="submit">
      Submit
    </v-btn>
  </form>

  <p>{{ error }}</p>
</v-sheet>
{% endblock %}
