<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- vuetify -->
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <!-- Layout styling -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
      body {
        font-family: "Lato", sans-serif;
      }
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="purple">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center"
          >{% block page %}{% endblock %}</a
        >
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left">
            <li><a href="/">Home</a></li>
            <li><a href="/checkclaim">Check Claim</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/symptoms">Check Symptom</a></li>
            <li><a href="/usersignup">Signup</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% endif %} {% endwith %}

    <div class="container" id="content">{% block content %}{% endblock %}</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="e2e/require.js"></script>
  </body>
  <script>
    const { createApp } = Vue;
    const { createVuetify } = Vuetify;

    const vuetify = createVuetify();

    const app = createApp({
      template: "#app-template",

      data() {
        return {
          message: "Hello Vue!",
          navs: [
            { title: "Home", icon: "mdi-home", link: "/" },
            { title: "Check Claim", icon: "mdi-plus", link: "/checkclaim" },
            { title: "About Us", icon: "mdi-paperclip", link: "/about" },
            {
              title: "Check Symptom",
              icon: "mdi-clipboard-outline",
              link: "/symptoms",
            },
            {
              title: "Signup",
              icon: "mdi-account-outline",
              link: "/usersignup",
            },
            { title: "Login", icon: "mdi-folder", link: "/login" },
          ],

          guides: [
            {
              title: "Submit a Query",
              subtitle: "Click on new claim and hit enter",
              icon: "",
            },
            {
              title: "Symptom Checker",
              subtitle: "Check what illness has these symptoms",
              icon: "",
            },
            {
              title: "Recents",
              subtitle: "Log in and keep tabs on your searches",
              icon: "",
            },
          ],
        };
      },
    })
      .use(vuetify)
      .mount("#app");
  </script>
</html>
