<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- vuetify -->
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <!-- Layout styling -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
      body {
        font-family: "Lato", sans-serif;
      }
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.js"></script>
    <script type="text/x-template" id="app-template">
                  <v-app>
             <v-layout>
      <!-- Navigation -->
                    <v-navigation-drawer color="#191A1D">
              <!-- List Rendering  -->
                      <v-list density="compact" nav>
                        <v-list-item
                                v-for="nav in navs"
                                :href="nav.link"
                                style="color: white"
                              >
                            <template v-slot:prepend>
                            <v-icon :icon="nav.icon"> </v-icon>
                          </template>
                           <v-list-item-title class="text-subtitle-2 font-weight-medium" v-text="nav.title"></v-list-item-title>
                            </v-list-item>
                            {% if current_user.type == 'Doctor'%}
                            <v-list-item prepend-icon="mdi-rss" href="/feed" style="color: white"> Feed
                            </v-list-item>
                            <v-list-item prepend-icon="mdi-plus" href="/feedback" style="color: white">Contribute
                            </v-list-item>
                            {% endif %}

                      </v-list>
                    </v-navigation-drawer>
      <!-- Main Content, Right of Navigation Drawer -->
                    <v-main style="background-color: #191A1D; color: white">
                      <div class="container d-flex justify-center flex-coloumn text-center" id="content" style="width:100%;height:100%; max-height:100%; overflow: hidden">{% block content %}{% endblock %}</div>
                    </v-main>
                  </v-layout>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>
  </body>
  <script>
    const { createApp } = Vue;
    const { createVuetify } = Vuetify;

    const vuetify = createVuetify();

    const app = createApp({
      template: "#app-template",

      data() {
        return {
          navs: [
            { title: "Home", icon: "mdi-home", link: "/query" },
            { title: "Check Symptom", icon: "mdi-needle", link: "/symptoms" },
            {
              title: "ChatBot",
              icon: "mdi-robot",
              link: "/chatbot",
            },
            { title: "My Queries", icon: "mdi-history", link: "/queries" },
            { title: "Logout", icon: "mdi-door-open", link: "/logout" },
          ],
          // claim check disclaimers logged out users
          disclaimers: [
            {
              section: "Examples",
              examples: [
                { one: '"Is Covid real? "' },
                { two: '"Is ginger a viable health solution"' },
                { three: '"Is a fever lethal"' },
              ],
            },
            {
              section: "Capabilities",
              examples: [
                { one: "Remembers user input in the search bar" },
                {
                  two: "Responds with a collection of articles for the user to persue",
                },
                { three: "See what users also searched" },
              ],
            },
            {
              section: "Limitations",
              examples: [
                { one: "May occasionally produces incorrect information" },
                {
                  two: "May occationally produce harmful or offensive information ",
                },
                { three: "Limit information to 2022" },
              ],
            },
          ],

          // Check claim result output carousels; window -> the articles window2 -> related user seearches
          window: 0,
          window2: 0,
          //claim variable
          message: null,
          //calim check filter binding
          display: 0,
          //input rules
          rules: {
            required: (value) => !!value || "Required.",
            counter: (value) => value.length <= 50 || "Max 50 characters",
          },
          //boolean for whether or not form is valid
          isFormValid: false,
          isFormValidSignUp: false,
          isFormValidLogin: false,
          //loader boolean
          dialog: false,
          //sign up page tracker
          step: 0,
        };
      },
      methods: {
        //retrieves form data from previous search stored in session and applies it to input binding
        initFormDataState() {
          if (sessionStorage.getItem("claim") != null) {
            const claim = JSON.parse(sessionStorage.getItem("claim") || "");
            if (claim) {
              this.message = claim;
            }
          }
        },
        //saves from data from proceeding search in session
        saveFormDataState() {
          const claim = JSON.stringify(this.message);
          sessionStorage.setItem("claim", claim);
        },
        startLoader() {
          this.dialog = true;
        },
      },
      //triggers retrieval method on template render and monitors loaders
      created() {
        this.initFormDataState();
      },
      watch: {
        isFormValid(value) {
          this.isFormValid = value;
        },
        isFormValidSignUp(value) {},
        dialog(val) {
          if (val == true) return;
          this.dialog = false;
        },
      },
    })
      .use(vuetify)
      .mount("#app");
  </script>
</html>
