<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- vuetify -->
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <!-- Layout styling -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
      body {
        font-family: "Lato", sans-serif;
      }
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.js"></script>
    <script type="text/x-template" id="app-template">
                  <v-app>
             <v-layout>
      <!-- Navigation -->
                    <v-navigation-drawer color="#191A1D">
              <!-- List Rendering  -->
                      <v-list density="compact" nav>
                        <v-list-item
                                v-for="nav in navs"
                                :href="nav.link"
                                style="color: white"
                              >
                            <template v-slot:prepend>
                            <v-icon :icon="nav.icon"> </v-icon>
                          </template>
                           <v-list-item-title class="text-subtitle-2 font-weight-medium" v-text="nav.title"></v-list-item-title>
                            </v-list-item>
                            {% if current_user.type == 'Doctor'%}
                            <v-list-item prepend-icon="mdi-plus" href="/feed"> Feed
                            </v-list-item>
                            <v-list-item prepend-icon="mdi-plus" href="/feedback">Contribute
                            </v-list-item>
                            {% endif %}

                      </v-list>
                    </v-navigation-drawer>
      <!-- Main Content, Right of Navigation Drawer -->
                    <v-main style="background-color: #191A1D; color: white">
                      <div class="container d-flex justify-center flex-coloumn text-center" id="content">{% block content %}{% endblock %}</div>
                    </v-main>
                  </v-layout>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>
  </body>
  <script>
    const { createApp } = Vue;
    const { createVuetify } = Vuetify;

    const vuetify = createVuetify();

    const app = createApp({
      template: "#app-template",

      data() {
        return {
          message: "Hello Vue!",
          navs: [
            { title: "Home", icon: "mdi-home", link: "/query" },
            { title: "My Queries", icon: "mdi-paperclip", link: "/queries" },
            { title: "ChatBot", icon: "mdi-plus", link: "/chatbot" },
            { title: "Check Symptom", icon: "mdi-needle", link: "/symptoms" },
            {
              title: "Logout",
              icon: "mdi-clipboard-outline",
              link: "/logout",
            },
          ],
        };
      },
    })
      .use(vuetify)
      .mount("#app");
  </script>
</html>
