{% extends "layout.html" %} {% block title %}login page{% endblock %} {% block
page %}Login{% endblock %} {{ super() }} {% block content %}
<style>
  h2 {
    font-family: "Space Mono", monospace;
  }
</style>
<v-sheet
  class="cointaner"
  color="transparent"
  class="d-flex flex-column mt-10"
  width="100%"
  height="100%"
>
  {% if error %}
  <p class="mb-10">{{ error }}</p>

  {% endif %}
  <v-sheet width="60%" class="mx-auto" color="transparent">
    <form class="col s12 m8 offset-m2" method="POST" action="/login">
      <p class="text-h4">Login</p>
      <div class="input-field col s12 m8 offset-m2">
        <v-text-field
          name="username"
          type="input"
          density="compact"
          variant="outlined"
          class="px-5"
          placeholder="username"
        ></v-text-field>
      </div>

      <div class="input-field col s12 m8 offset-m2">
        <v-text-field
          name="password"
          type="input"
          density="compact"
          variant="outlined"
          class="px-5"
          placeholder="password"
        ></v-text-field>
      </div>

      <v-btn
        type="submit"
        variant="tonal"
        rounded="lg"
        size="x-large"
        class="mb-5"
      >
        Login
      </v-btn>
    </form>
    <p>
      No account as yet? <a href="/usersignup"><strong>Signup</strong></a>
    </p>
  </v-sheet>
</v-sheet>
{% endblock %}
