<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- vuetify -->
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <!-- Layout styling -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
      body {
        font-family: "Lato", sans-serif;
      }
      .v-navigation-drawer.style {
        position: fixed;
      }
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.js"></script>
    <script type="text/x-template" id="app-template">
                  <v-app>
             <v-layout>
      <!-- Navigation -->
                    <v-navigation-drawer fixed color="#191A1D" style="position:fixed !important">
              <!-- List Rendering  -->
                      <v-list density="compact" nav>
                        <v-list-item
                                v-for="nav in navs"
                                :href="nav.link"
                                style="color: white"
                              >
                            <template v-slot:prepend>
                            <v-icon :icon="nav.icon"> </v-icon>
                          </template>
                           <v-list-item-title class="text-subtitle-2 font-weight-medium" v-text="nav.title"></v-list-item-title>
                            </v-list-item>
                            {% if current_user.type == 'Doctor'%}
                            <v-list-item prepend-icon="mdi-rss" href="/feed" style="color: white"> Feed
                            </v-list-item>
                            <v-list-item prepend-icon="mdi-plus" href="/feedback" style="color: white">Contribute
                            </v-list-item>
                            {% endif %}
                            <v-list-item prepend-icon="mdi-door-open" href="/logout" style="color: white"> Logout
                            </v-list-item>
                            <v-list-item>
                              <v-switch
                              v-on:change="saveFormDataState"
                              v-model="mode"
                              hide-details
                              true-value="light"
                              false-value="dark"
                              :label="`${mode}`"
                              inset
                            ></v-switch>
                            </v-list-item>

                      </v-list>
                    </v-navigation-drawer>
      <!-- Main Content, Right of Navigation Drawer -->
                    <v-main :style="theme_main">
                      <div class="container d-flex justify-center flex-coloumn text-center" id="content" style="width:100%;height:100%; max-height:100%; overflow: hidden">{% block content %}{% endblock %}</div>
                    </v-main>
                  </v-layout>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>
  </body>
  <script>
    const { createApp } = Vue;
    const { createVuetify } = Vuetify;

    const vuetify = createVuetify();

    const app = createApp({
      template: "#app-template",

      data() {
        return {
          navs: [
            { title: "Home", icon: "mdi-home", link: "/query" },
            { title: "Check Symptom", icon: "mdi-needle", link: "/symptoms" },
            { title: "ChatBot", icon: "mdi-robot", link: "/chatbot" },
            { title: "My Queries", icon: "mdi-history", link: "/queries" },
          ],
          // claim check disclaimers logged out users
          disclaimers: [
            {
              section: "Examples",
              examples: [
                { one: '"Is Covid real? "' },
                { two: '"Is ginger a viable health solution"' },
                { three: '"Is a fever lethal"' },
              ],
            },
            {
              section: "Capabilities",
              examples: [
                { one: "Remembers user input in the search bar" },
                {
                  two: "Responds with a collection of articles for the user to persue",
                },
                { three: "See what users also searched" },
              ],
            },
            {
              section: "Limitations",
              examples: [
                { one: "May occasionally produces incorrect information" },
                {
                  two: "May occationally produce harmful or offensive information ",
                },
                { three: "Limit information to 2022" },
              ],
            },
          ],
          // Check claim result output carousels; window -> the articles window2 -> related user seearches
          window: 0,
          window2: 0,
          window3: 0,
          //claim variable
          message: null,
          //calim check filter binding
          display: 0,
          //input rules
          rules: {
            required: (value) => !!value || "Required.",
            counter: (value) => value.length <= 150 || "Max 150 characters",
          },
          //boolean for whether or not form is valid
          isFormValid: false,
          isFormValidSignUp: false,
          isFormValidLogin: false,
          //loader boolean
          dialog: false,
          //sign up page tracker
          step: 0,
          //To do with login acknowledgement
          log: false,
          logack: false,
          timeout: 3000,
          //TO DO WITH lIGHT AND DARK
          //TO DO WITH LIGHT AND DARK
          mode: "dark",
          theme_main: "background-color: #191A1D; color: white",
          theme_logo:
            "http://drive.google.com/uc?export=view&id=1MCQSPYNUgbJsPnFDLWt3LvM8TR_tmo2s",
          theme_eleveation: 0,
          theme_respStyle: "color:white",
          theme_background: "background-color: #191A1D",
          //To do with liking and disliking
          like: false,
          dislike: false,
          //Contribution confirmation Page //triggers
          confirm: false,
          confirmed: false,
          article_title: "",
          article_descr: "",
          article_rating: "",
        };
      },
      methods: {
        confirmReview() {
          this.confirm = false;
          this.confirmed = true;
        },
        check() {
          console.log(sessionStorage.getItem("log"));
        },
        //lets check whether or not someone is logged in
        recLogin() {
          if (sessionStorage.getItem("logquery") != null) {
            const log = JSON.parse(sessionStorage.getItem("logquery") || "");
            if (log) {
              this.log = log;
              if (this.log == true && window.location.pathname == "/query") {
                this.logack = true;
                console.log("This is" + this.logack);
              }
              const myTimeout = setTimeout(this.resetLoginAck, 5000);
            }
          }
          //const myTimeout = setTimeout(this.resetLoginAck, 6000);
        },
        resetLoginAck() {
          this.log = false;
          this.logack = false;
          sessionStorage.setItem("logquery", JSON.stringify(this.log));
        },
        //retrieves form data from previous search stored in session and applies it to input binding
        initFormDataState() {
          if (sessionStorage.getItem("claim") != null) {
            const claim = JSON.parse(sessionStorage.getItem("claim") || "");
            if (claim) {
              this.message = claim;
            }
          }
          if (sessionStorage.getItem("mode") != null) {
            const mode = JSON.parse(sessionStorage.getItem("mode") || "");
            if (mode) {
              this.mode = mode;
            }
          }
        },
        //saves from data from proceeding search in session
        saveFormDataState() {
          const claim = JSON.stringify(this.message);
          sessionStorage.setItem("claim", claim);
          const mode = JSON.stringify(this.mode);
          sessionStorage.setItem("mode", mode);
        },
        startLoader() {
          this.dialog = true;
        },
      },
      //triggers retrieval method on template render and monitors loaders
      created() {
        this.initFormDataState();
        this.recLogin();
      },
      watch: {
        mode(val) {
          if (val == "light") {
            this.theme_main = "background-color: white; color: black";
            this.theme_logo =
              "http://drive.google.com/uc?export=view&id=1hvGsHogxr8ksrmwkuHzhwF9700tkM8yY";
            this.theme_eleveation = 6;
            this.theme_respStyle = "color:black";
            this.theme_background = "background-color: white";
          }
          if (val == "dark") {
            this.theme_main = "background-color: #191A1D; color: white";
            this.theme_logo =
              "http://drive.google.com/uc?export=view&id=1MCQSPYNUgbJsPnFDLWt3LvM8TR_tmo2s";
            this.theme_eleveation = 0;
            this.theme_respStyle = "color:white";
            this.theme_background = "background-color: #191A1D";
          }
        },
        dialog(val) {
          if (val == true) return;
          this.dialog = false;
        },
      },
    })
      .use(vuetify)
      .mount("#app");
  </script>
</html>
